<div class="assignments index">
  <h2><%= @title %></h2>

   <table class="listing" summary="assignment list">
    <thead class="header">
      <th><%= link_to "Job"%></th>
      <th><%= link_to "Beschrieb" %></th>
      <th><%= link_to "Ressort"%></th>
      <th><%= link_to "Job erstellt am"%></th>
      <th>Löschen</th>
    </thead>
    <% @assignments.each do |assignment| %>
    
      <tr>	<td><% if assignment.name %>
      			<%= link_to assignment.name, assignment_path(assignment.id)%>
      			<%else%>
      			<%= best_in_place assignment, :name%>
      			<%end%>
      		</td>
      		<td><%= best_in_place assignment, :text %></td>
			<td><%= best_in_place assignment, :department_id, :type => :select, :collection => @collection %></td>
			<td><%= assignment.created_at.day.to_s  + "." + assignment.created_at.month.to_s + "." + (assignment.created_at.year - 2000).to_s %></td>
			<td><%= link_to "Löschen", assignment_path(assignment.id), :method => 'delete'%></td>
	 </tr>  
     <% end %>
  </table>
  <%= link_to "Neu", assignments_path, :method => 'post'%>
</div>
