<article class="functions index">
  <h2><%= @title %></h2>
<% if admin?  %>
   <table class="listing" summary="function list">
    <thead class="header">
      <th><%= link_to "Funktion"%></th>
      <th><%= link_to "Ressort"%></th>
      <th><%= link_to "Lehrer"%></th>
      <th><%= link_to "Ressortleitung" %></th>
      <th>Löschen</th>
    </thead>
    
    <% @functions.each do |function| %>
    <tr class=<%= cycle('odd', 'even')%>>	
    		<td><%= best_in_place_if admin?, function, :name %></td>
    	    <td><%= best_in_place function, :department_id, :type => :select, :collection =>  @departments_collection %></td>
			<td><%= best_in_place function, :teacher_id, :type => :select, :collection => @teachers_collection %></td>
			<td><%= best_in_place function, :leader?, :type => :checkbox, :collection => ["Nein", "Ja"] %></td>
			<td><%= link_to "Löschen", function_path(function.id), :method => 'delete' %></td>

	</tr>
    <% end %>
    
  </table>
  <%= link_to "Neu", functions_path, :method => 'post'%>
<% else %>
Diese Seite ist nur zum Administrieren. 
<% end %>

</article>

