<div class="departments index">
  <h2><%= @title %></h2>

   <table class="listing" summary="department list">
    <thead class="header">
      <th><%= link_to "Ressort" %></th>
      <th><%= link_to "Leitung" %></th>
      <th><%= link_to "Gehört zu" %></th>
      <th><%= link_to "Unterressorts" %></th>
      <th>Löschen</th>
    </thead>
    <% @departments.each do |department| %>
    
   <% if false %>

    <tr>
			<td>
				<%= link_to department_path(department.id) do  %>
				<%if department.name%>
     			<%= department.name %>
     			<%else%> Neu erstelltes Ressort
     			<%end %>
     			<%end %>
     		</td>
     		<td>

     		
      <td><%= 'code fehlt noch' %></td>
      <td><%= 'code fehlt noch' %></td> 
      <td class="actions">
        <%= link_to("Löschen", department_path(department.id), :method => 'delete') %>
      </td>
    </tr>
    <% end %>
    
    <%if true %>
    <tr>
			<td><% if department.name == '_neues Ressort' %>
				<%= best_in_place department, :name %>
				<% else %>
				<%= link_to department.name, department_path(department.id)%>
				<% end %>
			<td><% department.functions.each do |f| %>
				<%= link_to f.teacher.name, teacher_path(f.teacher.id) %>
				<% end %>
				</td>
			<td><%= best_in_place department, :parent_department_id, :type => :select, :collection => @parent_departments %></td>
			<td><% department.subdepartments.each do |s|  %>
				<%= link_to s.name, department_path(s.id)%><br />
			    <% end %>
			</td>
			<td><%= link_to "Löschen", department_path(department.id), :method => 'delete'%></td>
	</tr>
    
    <% end %>
    <% end %>
  </table>
  <%= link_to "Neu", departments_path, :method => 'post'%>
  
  <hr />
  To do : <br />
  <ul>
  	<li>Spalte Ressortleiter als Link, evlt mit Telefonnummer</li>

  	<li>css</li>  	
  </ul>
</div>
