<article>

<%= link_to "<< Zurück zur Liste mit dem Lehrkräften", teachers_path%>

<% if admin? %>
	<h1><%= best_in_place @teacher, :first_name %> <%= best_in_place @teacher, :last_name %></h1>
	<h2>Kontaktdaten</h2>
		<%= best_in_place @teacher, :email%>
		<% if @teacher.email %>
		<%= best_in_place @teacher, :email_secret, :type => :checkbox, :collection => @checkbox %>
		<% end %>
		<br />
		<%= best_in_place @teacher, :phone %>
		<% if @teacher.phone %>
		<%= best_in_place @teacher, :phone_secret, :type => :checkbox, :collection => @checkbox%>
		<% end %>
		<br />
		<%= best_in_place_if admin?, @teacher, :phone2 %>
		<% if @teacher.phone2 %>
		<%= best_in_place @teacher, :phone_secret2, :type => :checkbox, :collection => @checkbox%>						
		<% end %>
<% end  %>

<% unless admin? %>
	<h1><%= @teacher.name%></h1>
	<h2>Kontaktdaten</h2>
	<%= !@teacher.email_secret? && @teacher.email ? @teacher.email : "" %>
	<br />
	<%= !@teacher.phone_secret? && @teacher.phone ? @teacher.phone : "" %>
	<br />
	<%= !@teacher.phone_secret2? && @teacher.phone2 ? @teacher.phone2 : "" %>
<% end %>

<h2><%= link_to_if admin?, "Funktionen", functions_path%> im Musical</h2>
	<% @teacher.functions.each do |f|%>
	<%= f.name%> im Ressort <%= link_to f.department.name, department_path(f.department.id)%><br />
	<% end %>
<article/>